<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>About Us</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<link rel="stylesheet" type="text/css" href="/static/css/about.css">
	</head>

	<body>
		<header>
		<img class="bg" src="/static/img/bg.jpg" alt="Cannot show image"/>
		<div class="title-bar">
			<p id="guard" class="title-element"><a href="/index">Home</a></p>
			<p class="title-element"><a href="/about">About Us</a></p>
			<p class="title-element"><a href="/contact">Contact Us</a></p>
		</div>
		</header>
		<div class="content">
		<p class="p0 ft1">
			<span class="ft0">YICHAO SHEN</span>
		</p>
		<p class="p1 ft5">
			<span class="ft2" style="float:left">(510)-331-3423 | mark.shen@berkeley.edu</span>
			<br><span class="ft2"> Github: </span>
			<a href="https://github.com/mark818"><span class="ft4">https://github.com/mark818</span></a>
		</p>

		<p class="p2 ft6">EDUCATION ____________________________________________________________________________</p>
		<table class="t0">
		<tr>
			<td class="tr0 td0"><p class="p3 ft8"><span class="ft7">U</span>NIVERSITY OF <span class="ft7">C</span>ALIFORNIA<span class="ft7">, B</span>ERKELEY</p></td>
			<td class="tr0 td1"><p class="p3 ft9">2013 – Present</p></td>
		</tr>
		</table>
		<p class="p4 ft10">B.A. in Computer Science, in progress with anticipated graduation in December 2017</p>
		<p class="p5 ft13"><span class="ft11">∙</span><span class="ft12">Acquired exceptional academic knowledge and </span>hands-on technical skills in successful completion of diverse coursework.</p>

		<p class="p6 ft14">TECHNICAL SKILLS_____________________________________________________________________</p>
		<p class="p7 ft13"><span class="ft11">∙</span><span class="ft15">Programming Languages: </span>C++ (20k+ lines of code), Python, Java, Go, C#, MIPS, Bash, PowerShell, Javascript, Ruby</p>
		<p class="p8 ft13"><span class="ft11">∙</span><span class="ft15">Frameworks/Libraries/Tools: </span>ELK, Neo4j, Jenkins CI, Win32 API, Docker, Protobuf, DirectX, Unity, Bootstrap</p>

		<p class="p9 ft6">INTERNSHIP EXPERIENCE_______________________________________________________________</p>
		<table class="t1">
		<tr>
			<td class="tr1 td2"><p class="p3 ft16">NVIDIA C<span class="ft8">ORP</span>.</p></td>
			<td class="tr1 td3"><p class="p3 ft17">May – August 2017</p></td>
		</tr>
		<tr>
			<td class="tr2 td2"><p class="p3 ft10">IT Operations Engineer (with full-time offer)</p></td>
			<td class="tr2 td3"><p class="p3 ft18">&nbsp;</p></td>
		</tr>
		</table>

		<p class="p10 ft7"><span class="ft11">∙</span><span class="ft15">Built an Inventory DB for visualizing NVIDIA Farm topologies using Neo4j</span></p>
		<p class="p11 ft13"><span class="ft19">o</span><span class="ft20">Extracted connections info across different devices and OSes in a $3billion datacenter</span></p>
		<p class="p11 ft13"><span class="ft19">o</span><span class="ft20">Created graphical visualization with bidirectional mapping and supporting live updates</span></p>
		<p class="p11 ft13"><span class="ft19">o</span><span class="ft20">Project recognized by Company VP and popularized across departments</span></p>
		<p class="p12 ft7"><span class="ft11">∙</span><span class="ft15">Log analysis using ELK</span></p>
		<p class="p11 ft13"><span class="ft19">o</span><span class="ft20">Created accurate and fault tolarent grok patterns to build metadata</span></p>
		<p class="p11 ft13"><span class="ft19">o</span><span class="ft20">Dockerized and scaled up with Kubernetes</span></p>
		<p class="p11 ft13"><span class="ft19">o</span><span class="ft20">Discovered broken connection and identified service downtime</span></p>

		<table class="t2">
		<tr>
			<td class="tr3 td2"><p class="p3 ft8"><span class="ft7">S</span>HANGHAI <span class="ft7">UC</span>LOUD <span class="ft7">I</span>NFORMATION <span class="ft7">T</span>ECHNOLOGY <span class="ft7">C</span>O<span class="ft7">., L</span>TD<span class="ft7">.</span></p></td>
			<td class="tr3 td3"><p class="p3 ft9">May – August 2016</p></td>
		</tr>
		<tr>
			<td class="tr2 td2"><p class="p3 ft10">Software Engineer (with full-time offer)</p></td>
			<td class="tr2 td3"><p class="p3 ft18">&nbsp;</p></td>
		</tr>
		</table>
		<p class="p10 ft7"><span class="ft11">∙</span><span class="ft15">Created an Continuous Delivery pipeline using Jenkins CI</span></p>
		<p class="p11 ft13"><span class="ft19">o</span><span class="ft20">Formalized unit testing and regression testing framework</span></p>
		<p class="p11 ft13"><span class="ft19">o</span><span class="ft20">Established automatic code submission, testing and deployment using Jenkins CI</span></p>
		<p class="p11 ft13"><span class="ft19">o</span><span class="ft20">Presented the pipeline in the company weekly conference</span></p>
		<p class="p13 ft7"><span class="ft11">∙</span><span class="ft15">Designed an task scheduling module on a </span>100,000-core platform that raiseed cache hit rate from 4% to 98%</p>
		<p class="p11 ft13"><span class="ft19">o</span><span class="ft20">Lead the research of findind the cause of the slow average execution time</span></p>
		<p class="p14 ft23"><span class="ft19">o</span><span class="ft21">Developed a GUI showing the executor loads under each manager in real time </span><span class="ft22">o </span>Designed an algorithm which optimized local task executable cache hit rate</p>
		<table class="t2">
		<tr>
			<td class="tr4 td2"><p class="p3 ft8"><span class="ft7">M</span>ORGAN <span class="ft7">S</span>TANLEY <span class="ft7">S</span>HANGHAI</p></td>
			<td class="tr4 td3"><p class="p3 ft9">May – August 2014</p></td>
		</tr>
		<tr>
			<td class="tr2 td2"><p class="p3 ft10">Data Scientist</p></td>
			<td class="tr2 td3"><p class="p3 ft18">&nbsp;</p></td>
		</tr>
		</table>
		<p class="p5 ft13"><span class="ft11">∙</span><span class="ft15">Updated a mathematic model </span>which predicts the future trend of the stock market by learning data from the past.</p>
		<p class="p13 ft13"><span class="ft11">∙</span><span class="ft15">Developed a WebUI </span>for the operators using Bootstrap + AJAX</p>
		<p class="p15 ft14">FEATURED CLASS PROJECTS__________________________________________________________</p>
		<p class="p7 ft13"><span class="ft11">∙</span><span class="ft15">Ray tracing renderer: </span>A high performance, multithreaded, MSAA ray tracer with depth of field, etc. in C++</p>
		<p class="p8 ft13"><span class="ft11">∙</span><span class="ft15">Real time area lighting: </span>A real time rasterizer in DirectX12 with custom area lighting.</p>
		<p class="p8 ft13"><span class="ft11">∙</span><span class="ft15">PintOS: </span>Built a multithreaded OS with multiple scheduling algorithms and a fully fledged file system in C.</p>
		<p class="p8 ft13"><span class="ft11">∙</span><span class="ft15">Tetarto: </span>A unity puzzle game with real life interaction achieved with Twilio (in development).</p>
		<p class="p8 ft13"><span class="ft11">∙</span><span class="ft15">Pacman AI: </span>Online and offline Pacman AI using A* and Reinforcement Learning.</p>
		<p class="p8 ft13"><span class="ft11">∙</span><span class="ft15">RISC V CPU modules: </span>Extend RISC V with external features and custom branch predictions.</p>
		<p class="p8 ft25"><span class="ft11">∙</span><span class="ft24">Parallelize an image blurring program: </span>Built using SIMD, OpenMP, and Spark on AWS</p>
		<p class="p8 ft2"><span class="ft11">∙</span><span class="ft26">Relational Database: </span>Built using Java from ground up to support query optimizations and concurrency.</p>
		<p class="p8 ft27"><span class="ft11">∙</span><span class="ft26">Scheme interpreter (REPL) in Python</span></p>
		</div>
		<footer>
			<p id="guard" class="footer-element"><a href="/index">Home</a></p>
			<p class="footer-element"><a href="/about">About Us</a></p>
			<p class="footer-element"><a href="/contact">Contact Us</a></p>
		</footer>
	</body>
</html>
