<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Assignment 2 - INFO 253 Web Architecture</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	</head>
	<body>
		<header>
		<div class="title-bar">
			<p id="guard" class="title-element">Assignment 2</p>
			<p class="title-element"><a href="about">About Us</a></p>
			<p class="title-element"><a href="contact">Contact Us</a></p>
		</div>
		</header>

		<img class="bg" src="/static/img/bg.jpg" alt="Cannot show image"/>
		<div class="content">
			<ul>
				<li><a href="blog/8-experiments-in-motivation">8 Experiments in Motivation</a></li>
				<li><a href="blog/a-mindful-shift-of-focus">A Mindful Shift of Focus</a></li>
				<li><a href="blog/how-to-develop-an-awesome-sense-of-direction">How to Develop an Awesome Sense of Direction</a></li>
				<li><a href="blog/training-to-be-a-good-writer">Training to Be a Good Writer</a></li>
				<li><a href="blog/what-productivity-systems-wont-solve">What Productivity Systems Won't Solve</a></li>
			</ul>
		</div>
		<footer style="position:fixed; bottom: 0; width: 100%">
			<p id="guard" class="footer-element">Home</p>
			<p class="footer-element"><a href="about">About Us</a></p>
			<p class="footer-element"><a href="contact">Contact Us</a></p>
		</footer>
	</body>
</html>
	
